<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>



<div class="container-fluid mb-12 pt-3 pb-1 bg-primary">

 <div class="back-arrow text-left ">
<span style="font-size: 48px; color: Dodgerblue;">
 <i class="fas fa-arrow-left"></i>
</span>
        
    </div>
    <div class="head-login text-center ">
        <h3><i class="fas fa-gift"><strong>  <%= @group.name %></strong></i></h3>
      
    </div>
    
    </div>
<p id="notice"><%= notice %></p>

  <div class="row ">
    <div class="col-12 p-5 border border-1">
 <h5 class="card-title">TOTAL MINS<span class="like"><%= @activities.sum(:amount).round(2) %>&nbsp;mins.</span></h5>
</div>
</div>
<div class="container">

<div class="card  mx-auto sm-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-4">
      <%= image_tag "icons8-left-arrow-48.png"%>
    </div>
    <div class="col-8">
    <%= link_to activity_url do%>
    <div>
        <% @activities.each do |activity| %>
      <div class="card-body border border-1">
    
      <h5 class="card-title"><%= activity.name %><span class="like"><%= activity.amount.to_s %>&nbsp; mins.</span></h5>
        <p class="card-text"><small class="text-muted"><%= activity.created_at.strftime("%b %d, %H:%M, %Y") %></small></p>
        <p>Author: <%= activity.author.name %></p>
      <p></p>
      </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<br>
  <div class="row ">
    <div class="col-12">
<%= link_to 'New Activity', new_activity_path, class: 'btn btn-primary w-100 mt-1'%>
</div>
</div>