<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  
    <%= form.text_field :name, placeholder: "Name", class: "w-100 mt-4" %>
  </div>

  <div class="field">
    
    <%= form.text_field :author_id, placeholder: "Author ID", type:"hidden" %>
  </div>

  <div class="field">
  
    <%= form.text_field :group_id, placeholder: "Group ID", class: "w-100 mt-4" %>
  </div>

  <div class="field ">

    <%= form.text_field :amount, placeholder: "Mins spent", class: "w-100 mt-4" %>
  </div>

  <div class="actions w-100 mt-4 d-flex justify-content-center ">
    <%= form.submit %>
  </div>
<% end %>
